<div id="contacto"></div>
<footer class="footer">
  <div class="footer-container">
    <!-- <img src="../../../assets/img/2.png" alt="Logo Florencia Fuentes" class="footer-logo"> -->
    <!-- Links Útiles -->
    <div class="footer-section" *ngIf="foo && foo.footer.links">
      <h3>LINKS ÚTILES</h3>
      <ul>
        <li *ngFor="let link of foo.footer.links">
          <a [href]="link.url">
            <i class="fa-solid fa-angles-right"></i> {{ link.name }}
          </a>
        </li>
      </ul>
    </div>

    <!-- Contacto -->
    <div class="footer-section" *ngIf="foo && foo.footer.contacto">
      <h3>CONTACTO</h3>
      <ul>
        <li *ngFor="let contact of foo.footer.contacto">
          <a [href]="contact.url" target="_blank">
            <i [class]="'fa ' + contact.icon"></i> {{ contact.name }}
          </a>
        </li>
      </ul>
    </div>

    <!-- Trabajos -->
    <div class="footer-section" *ngIf="foo && foo.footer.trabajos">
      <h3>TRABAJOS</h3>
      <ul>
        <li *ngFor="let trabajo of foo.footer.trabajos">
          <a [href]="trabajo.url"  target="_blank">
            <i class="fa-solid fa-chevron-right"></i> {{ trabajo.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Disclaimer -->
  <div class="footer-bottom" *ngIf="foo && foo.footer.disclaimer">
    <p>{{ foo.footer.disclaimer }}</p>
  </div>
</footer>
