<div id="inicio"></div>
<nav class="navbar navbar-expand-sm fixed-top" [ngClass]="{ 'navbar-black': isNavbarBlack }">
  <div class="container-fluid">
    <a class="nav-logo" href="index.html">
      <img class="logo-img-navbar" src="../../../assets/img/2.png" alt="Logo_Personal">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
      aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbarColor()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav ms-auto align-items-center justify-content-center">
        <li class="nav-item">
          <a class="nav-link" (click)="toInicio()" role="button" href="#menu" data-bs-toggle="collapse" aria-expanded="false" aria-controls="menu">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="toSobremi()" role="button" href="#menu" data-bs-toggle="collapse" aria-expanded="false" aria-controls="menu">Sobre mi</a>
        </li>
       <!--  <li class="nav-item">
          <a class="nav-link" (click)="toHabilidadestecnicas()" role="button" href="#menu" data-bs-toggle="collapse" aria-expanded="false" aria-controls="menu">Habilidades</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" (click)="toProyectos()" role="button" href="#menu" data-bs-toggle="collapse" aria-expanded="false" aria-controls="menu">Trabajos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="toContacto()" role="button" href="#menu" data-bs-toggle="collapse" aria-expanded="false" aria-controls="menu">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>