<section>
    <div class="banner"></div>
    <div class="container">
      <div class="banner-principal ">
        
        <h1 *ngIf="hero" class="nombre ">{{hero.nombre}}</h1>
        <h2 *ngIf="hero" class="descripcion ">{{hero.descripcion}}</h2>
        <div class="btn-contacto">
          <a href="#contacto" class="btn btn--bg">Contacto</a>
        </div>
      </div>
      </div>
    <div class="FotoD" id="apartirdeaca">
      <p>Foto por <a href="https://www.pexels.com/es-es/@lastly/" target="_blank">Tyler Lastovich</a></p>
    </div>
  </section>